
.wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

body {
	background-image: url('../img/background.png');
	padding: 30px;
}

p {
	color: red; 
	font-size: 20px;
}

h1 {
	font-family: Comic Sans MS;
}

.aboutme {
	padding: 20px;
	text-align: center;
}

.additionalinformation {
	font-family: Tahoma;
	color: cadetblue;
}