
.wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

body {
	background-image: url('../img/background.png');
	padding: 30px;
}

p {
	color: red; 
	font-size: 20px;
}

h1 {
	font-family: Comic Sans MS;
}

.aboutme {
	padding: 20px;
	text-align: center;
}

.additionalinformation {
	font-family: Tahoma;
	color: cadetblue;
}

.links {
	text-align: center;
}

.links img {
	padding: 20px;
}

video {
	width: 700px;
	height: 400px;
}

/* Lightbulb */
.lightbulb {
	padding: 110px;
	text-align: center;
}

/* Red Box Game */
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.acceleratebutton {
	padding: 30px;
	font-weight: bold;
	font-size: 30px;
}